.added-persion {
    width: 22%;
    padding: 10px 20px;
    margin-top: 1.3%;
    border: 1px solid #3bb77e;
    border-radius: 5px;
    position: fixed;
    background-color: #e3f9ef;
    text-align: left;
    box-shadow: 5px 5px 10px lightgrey;
}
.cart-h2 {
    color: #3bb77e;
}